body {
  margin: 0;
}

header {
  text-align: center;
  border-bottom: 2px lightgray solid;
  width: 80vw;
  margin: auto;
}

.grid-main {
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;
  min-height: 100vh;
}

.left-column {
  grid-column: 2;
}

.right-column {
  grid-column: 3;
}

.menu-btn {
  margin: 16px;
  background-color: blueviolet;
  border-radius: 16px;
  border: none;
  color: white;
  padding: 8px 16px;
}
