h1 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  color: #e5bc7e;
  padding-left: 10px;
}

p {
  color: #e5bc7e;
  font-family: "Julius Sans One", sans-serif;
}

hr.solid {
  border-top: solid 1px black;
}

table {
  font-family: "Julius Sans One", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  color: #e5bc7e;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: left;
  padding: 8px;
}

/*Visio Screen V1*/

.VisioScreenV1ReadMore {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(1000px, auto);
}

.VisioScreenV1ReadMore > div {
  background-color: wheat;
}

.VisioScreenV1ReadMore > div:nth-child(odd) {
  background: black;
}
