header {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

h4 {
  text-decoration: underline;
  font-family: "Julius Sans One", sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;
  min-height: 100vh;
}

.left-grid {
  grid-column: 2;
  text-align: center;
}

.right-grid {
  grid-column: 3;
  text-align: center;
}
