/*Sidmenyn*/

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  box-sizing: border-box;
  font-family: "Julius Sans One", sans-serif;
}

.btn {
  position: absolute;
  top: 5em; /*15px innan*/
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: black;
  cursor: pointer;
  transition: left 0.4s ease;
}

.btn.click {
  left: 260px;
}

.btn span {
  color: #e5bc7e;
  font-size: 28px; /* Storleken på x eller bar*/
  line-height: 45px; /* placeringen av x eller bar*/
}

.btn.click span:before {
  content: "\f00d"; /*Bar Byter till X */
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%; /*Hur mycket av höjden menyn ska ta */
  left: -250px; /* Hur långt borta menyn är */
  background: #1b1b1b;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  color: #e5bc7e;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  background: black;
  letter-spacing: 0px;
}

nav ul {
  background: black;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 90px; /*60px innan*/
  border: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li:last-child {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: #e5bc7e;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30%;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent; /* Tjockleken på ljuset på sidan*/
}

nav ul li a:hover {
  color: #e5bc7e;
  background: #1b1b1b;
  border-left-color: #e5bc7e;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

h1 {
  padding: 15px;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  color: #e5bc7e;
}

p {
  color: #e5bc7e;
  font-family: "Julius Sans One", sans-serif;
}

hr.solid {
  border-top: solid 1px black;
}

table {
  font-family: "Julius Sans One", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  color: #e5bc7e;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: left;
  padding: 8px;
}

/*Visio Screen V1*/

.VisioScreenV1ReadMore {
  display: grid;
  padding-top: 4.5em;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
}

.VisioScreenV1ReadMore > div {
  background-color: #e5bc7e;
}

.VisioScreenV1ReadMore > div:nth-child(odd) {
  background: black;
}
