* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.logoimage {
  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  background-size: cover;
  background-color: black;
}

.logoimage img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logomenu {
  padding: 10px;
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;

  font-family: "Julius Sans One", sans-serif;
  background-color: black;
  border-top: solid 1px wheat;
}

nav a {
  text-decoration: none;
  color: #e5bc7e;
}

nav a:hover {
  color: goldenrod;
}

/*Produkt Index.html*/

.product {
  padding: 2em;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.product img {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.product1Readmore {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

.product1Readmore a {
  color: #e5bc7e;
}

.btn {
  background-color: black;
  border: solid 5px black;
  border-radius: 15px;
}

hr.solid {
  border-top: solid 1px black;
  margin-top: 12px;
}

/* Visio Screen V1 Läs Mer */

/*
.VisioScreenV1-Slide {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}
*/

/*
.VisioScreenV1-img {
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;                 /*Så att det fungerar på chrome*/
/* -moz-transition: left 2s;                   /*Så att det fungerar i FireFox*/
/*-o-transition: left 2s;                    /* Så att det fungerar i Opera*/
/*}*/
/*
.slide-image {
  float: left;
  margin: 0px;
  padding: 0px;
}
*/
