/* @keyframes hello {
  0% {
    background-color: white;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}


main {
  animation-name: hello;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
*/

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

h2 {
  margin-top: 12px;
}

.logoimage {
  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  background-size: cover;
  background-color: black;
}

.logoimage img {
  /*Bild på Logga*/
  max-width: 100%;
  height: auto;
  display: block;
}

.logomenu {
  /*Menyn*/
  padding: 10px;
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;

  font-family: "Julius Sans One", sans-serif;
  background-color: black;
  border-top: solid 1px white;
}

nav a {
  text-decoration: none;
  color: #e5bc7e;
}

nav a:hover {
  color: goldenrod;
}

/*Produkt Index.html*/

.product {
  padding: 2em;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.product img {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.product1Readmore {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

.product1Readmore a {
  color: #e5bc7e;
}

.btn {
  background-color: black;
  border: solid 5px black;
  border-radius: 15px;
}

hr.solid {
  border-top: solid 1px black;
  margin-top: 12px;
}

/*   News.html  */

.header header {
  margin: auto;
  text-align: center;

  border-bottom: solid 2px black;
  width: 80vw;

  font-family: "Julius Sans One", sans-serif;
}

.header h2 {
  padding: 10px;
  margin-top: 19px;
  margin-bottom: 19px;
  background: black;
  color: #e5bc7e;
}
/*  Footer  */

footer {
  position: relative;
  width: 100%;
  background: black;
}

footer a {
  display: block;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  color: #e5bc7e;
}

footer a:hover {
  text-decoration: underline;
  color: goldenrod;
}

footer h2 {
  color: #e5bc7e;
  font-family: "Julius Sans One", sans-serif;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #e5bc7e;
  top: -10px;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0;
  }
}
