* {
  margin: 0;
  padding: 0;
}

.logoimage {
  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  background-size: cover;
  background-color: black;
}

.logoimage img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logomenu {
  padding: 10px;
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;

  font-family: "Julius Sans One", sans-serif;
  background-color: black;
  border-top: solid 1px wheat;
}

nav a {
  text-decoration: none;
  color: #e5bc7e;
  border-radius: 8px;
}

nav a:hover {
  color: goldenrod;
}

/*Produkter i Index.html*/

.product1 {
  padding: 2em;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.product1 img {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  /*
  padding: 10px;
  max-width: 100%;
  justify-content: center;*/
}

.product1Readmore {
}

/*
hr.solid {
  border-top: solid 1px black;
}   */
