header {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

h4 {
  text-decoration: underline;
  font-family: "Julius Sans One", sans-serif;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-left {
  text-align: center;
}

.grid-left-content {
  display: grid;
  grid-template-columns: 26vw;

  width: 0px;
  text-align: left;
}
